.page-content {
  max-width: 95% !important;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 60px;
  margin-top: 60px;
}

.project-card img {
  width: 100%;
  aspect-ratio: 16 / 9;   /* keeps equal height */
  object-fit: cover;      /* keeps fill behavior */
  object-position: center top;  /* 👈 shows more top of image */
  border-radius: 20px;
  display: block;
}

.project-card:hover img {
  transform: scale(1.05);
}
